@import "../../colours.scss";

.navbar {
  background-color: $darkBlue;
  padding: 10px 0;
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      h2 {
        font-family: "Poppins";
        color: $white;
        font-weight: 600;
        font-size: 2rem;
        margin: 0;
      }
    }
    .nav-items {
      display: flex;

      & > div {
        margin: 0 25px;
        a {
          color: $white;
          font-family: "Poppins";
          font-size: 18px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
